@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    :root {
    --corVerde: #49a09d;
    --corLilas: #5f2c82;
    }
    
    body {
        background-image: linear-gradient(to top, var(--corVerde), var(--corLilas));
    }

    section#login {
        width: 80vw;
        height: fit-content;
        height: 300px;
    }

    section#login > section#imagem {
        float: left;
        width: 30%;
        border-radius: 10px 0 0 10px;
        height: 100%;
    }

    section#login > section#formulario {
        float: right;
        width: 70%;
        height: 100%;
        padding-left: 10px;

    }
}

@media screen and (min-width: 993px) {
    body {
        background-image: linear-gradient(to top, var(--corVerde), var(--corLilas));
    }

    section#login {
        width: 990px;
        height: 325px;
    }

    section#login > section#imagem {
        float: right;
        width: 50%;
        border-radius: 0 10px 10px 0;
        height: 100%;
    }

    section#login > section#formulario {
        float: left;
        width: 50%;
        padding-right: 10px;
        height: 100%;
    }

    section.campo > label {
        display: inline-block;
        color: white;
        font-weight: bold;
        width: 50px;
        transform: translateY(-13px);
    } 

    section.campo > input{
        width: calc(100% - 120px);
    }

    section#formulario > p {
        font-size: 1.2em;
    }

}