        ::-webkit-scrollbar {
            width: 0;
            height: 0;
        }

        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        img {
            width: 100vw;
            margin-bottom: -3px;
        }

        h1 {
            border: 2px black solid;
            background-color: brown;
            text-align: center;
        }

        a {
            display:block;
            text-decoration: none;
            color:white;
            padding: 20px;
        }